@model HorizonLabAdmin.Models.Forms.TestResultPageViewModel
<style>
    .water_chem_subheader {
        font-size: 0.85rem;
        text-align: center;
    }

    .water_chem_header {
        font-size: 1.18rem;
        font-weight: bold;
        text-align: center;
    }

    table thead th {
        text-align: center;
        border: 1px solid #D5D5D5;
    }

    table tbody th {
        text-align: center;
        border: 1px solid #D5D5D5;
    }

    table tbody td {
        padding: 5px 5px 5px 5px;
    }

    .placeholder {
        width: 6%;
    }

    .wc_textfield {
        border: 1px solid #D5D5D5;
    }

    .wc_textfield_set2 {
        width: 16.5rem;
    }

    .wc_number_field {
        width: 5rem;
    }

    .wc_number_fiel_set2 {
        width: 12rem;
    }
</style>
<div class="panel panel-success">
    <div class="panel-heading">Chemical Water Test Results</div>
    <div class="panel-body" style="overflow:auto;">
        <table style="width:100%;">
            <thead>
                <tr>
                    <th class="water_chem_header"><span class="water_chem_header">ID</span></th>
                    <th class="water_chem_header"><span class="water_chem_header">Description</span></th>
                    <th><span class="water_chem_header">Nitrate NO3-N</span><br /><span class="water_chem_subheader">DL 0.23-13.5 NO3-N</span></th>
                    <th><span class="water_chem_header">Nitrate NO2-N</span><br /><span class="water_chem_subheader">DL 0.15-0.60 mg/L NO2-N</span></th>
                    <th><span class="water_chem_header">PH</span></th>
                    <th><span class="water_chem_header">Conductivity</span><br /><span class="water_chem_subheader">R 0.01 uS/cm-200.0m/cm</span></th>
                    <th><span class="water_chem_header">Sodium</span><br /><span class="water_chem_subheader">H40Qd ISENa381 probe 10-23000mg/L</span></th>
                    <th><span class="water_chem_header">Flouride</span><br /><span class="water_chem_subheader">DL 0.02-2.00 mg/L</span></th>
                    <th colspan="3"><span class="water_chem_header">Chloride</span><br /><span class="water_chem_subheader">DL 0.1-25 mg/L Mercuric Thiocyanate method</span></th>
                    <th colspan="3"><span class="water_chem_header">Sulfate</span><br /><span class="water_chem_subheader">DL 2-70 mg-L</span></th>
                </tr>
                <tr>
                    <th><span class="water_chem_header">&nbsp;</span></th>
                    <th><span class="water_chem_header">&nbsp;</span></th>
                    <th><span class="water_chem_subheader">result in mg/L</span></th>
                    <th><span class="water_chem_subheader">result in mg/L</span></th>
                    <th><span class="water_chem_subheader">&nbsp;</span></th>
                    <th><span class="water_chem_subheader">result in uS/cm</span></th>
                    <th><span class="water_chem_subheader">result in mg/L</span></th>
                    <th><span class="water_chem_subheader">result in mg/L</span></th>
                    <th><span class="water_chem_subheader">Test Result</span></th>
                    <th><span class="water_chem_subheader">DF</span></th>
                    <th><span class="water_chem_subheader">Final Result mg/L</span></th>
                    <th><span class="water_chem_subheader">Test Result</span></th>
                    <th><span class="water_chem_subheader">DF</span></th>
                    <th><span class="water_chem_subheader">Final Result mg/L</span></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int id = 0, trans_id = Model.trans_details.trans_id;
                    string
                        description = "", nitrate = "", nitrite = "", ph = "", conductivity = "",
                        sodium = "", flouride = "", chloride_tr = "", chloride_df = "", chloride_fr = "",
                        sulfate_tr = "", sulfate_df = "", sulfate_fr = "";
                    for (int c = 0; c < 3; c++)
                    {
                        id = 0; description = ""; nitrate = ""; nitrite = ""; ph = ""; conductivity = "";
                        sodium = ""; flouride = ""; chloride_tr = ""; chloride_df = ""; chloride_fr = "";
                        sulfate_tr = ""; sulfate_df = ""; sulfate_fr = "";

                        if (c < Model.list_waterchemresults_a.Count)
                        {
                            id = Model.list_waterchemresults_a[c].id;
                            description = Model.list_waterchemresults_a[c].description;
                            nitrate = Model.list_waterchemresults_a[c].nitrate;
                            nitrite = Model.list_waterchemresults_a[c].nitrite;
                            ph = Model.list_waterchemresults_a[c].ph;
                            conductivity = Model.list_waterchemresults_a[c].conductivity;
                            sodium = Model.list_waterchemresults_a[c].sodium;
                            flouride = Model.list_waterchemresults_a[c].flouride;
                            chloride_tr = Model.list_waterchemresults_a[c].chloride_tr;
                            chloride_df = Model.list_waterchemresults_a[c].chloride_df;
                            chloride_fr = Model.list_waterchemresults_a[c].chloride_fr;
                            sulfate_tr = Model.list_waterchemresults_a[c].sulfate_tr;
                            sulfate_df = Model.list_waterchemresults_a[c].sulfate_df;
                            sulfate_fr = Model.list_waterchemresults_a[c].sulfate_fr;
                        }
                        <tr>
                            <td class="text-center">@id</td>                                
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].description" type="text" value="@description" class="wc_textfield" style="width:20rem;"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].nitrate" type="text" value="@nitrate" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].nitrite" type="text" value="@nitrite" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].ph" type="text" value="@ph" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].conductivity" type="text" value="@conductivity" class="wc_textfield wc_number_fiel_set2"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].sodium" type="text" value="@sodium" class="wc_textfield wc_number_fiel_set2"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].flouride" type="text" value="@flouride" class="wc_textfield wc_number_fiel_set2"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].chloride_tr" type="text" value="@chloride_tr" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].chloride_df" type="text" value="@chloride_df" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].chloride_fr" type="text" value="@chloride_fr" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].sulfate_tr" type="text" value="@sulfate_tr" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].sulfate_df" type="text" value="@sulfate_df" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].sulfate_fr" type="text" value="@sulfate_fr" class="wc_textfield wc_number_field"></td>
                            <td class="text-center"><input asp-for="@Model.list_waterchemresults_a[c].trans_id" type="hidden" value="@trans_id" class="wc_textfield wc_number_field"></td>
                        </tr>
                    }
                }

                <tr>
                    <th class="placeholder" colspan="2"><span class="water_chem_header">&nbsp;</span></th>
                    <th colspan="2"><span class="water_chem_header">Nitrite & Nitrate Information</span></th>
                    <th><span class="water_chem_header">pH Info</span></th>
                    <th><span class="water_chem_header">Conductivity Information</span></th>
                    <th><span class="water_chem_header">Sodium Information</span></th>
                    <th><span class="water_chem_header">Flouride Information</span></th>
                    <th colspan="3"><span class="water_chem_header">Chloride Information</span></th>
                    <th colspan="3"><span class="water_chem_header" >Sulfate Information</span></th>
                </tr>
                @{
                    string datepicker_class="", nitrate_nitrite_info = "", ph_info = "", conductivity_info = "", sodium_info = "", flouride_info = "", chloride_info = "", sulfate_info = "";
                    int counter = 0;

                    foreach (var label in ViewBag.label_array)
                    {
                        id = 0; description = ""; datepicker_class = ""; nitrate_nitrite_info = ""; ph_info = ""; conductivity_info = "";
                        sodium_info = ""; flouride_info = ""; chloride_info = ""; sulfate_info = "";
                        if (counter < Model.list_waterchemresults_b.Count)
                        {
                            nitrate_nitrite_info = Model.list_waterchemresults_b[counter].nitrate_nitrite_info;
                            ph_info = Model.list_waterchemresults_b[counter].ph_info;
                            conductivity_info = Model.list_waterchemresults_b[counter].conductivity_info;
                            sodium_info = Model.list_waterchemresults_b[counter].sodium_info;
                            flouride_info = Model.list_waterchemresults_b[counter].flouride_info;
                            chloride_info = Model.list_waterchemresults_b[counter].chloride_info;
                            sulfate_info = Model.list_waterchemresults_b[counter].sulfate_info;
                        }

                        if (label == "Test Date" || label == "Calibration Date") { datepicker_class = "hlab_date_picker date_only"; }

                        if (label == "Technician")
                        {
                            <tr>
                                <td class="text-center" colspan="2">
                                    @label
                                    <input asp-for="@Model.list_waterchemresults_b[counter].trans_id" type="hidden" value="@trans_id">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].description" type="hidden" value="@label">
                                </td>
                                <td class="text-center" colspan="2">
                                    <select asp-for="@Model.list_waterchemresults_b[counter].nitrate_nitrite_info" asp-items="@Model.selectReceiversList" class="wc_textfield wc_textfield_set2"></select>
                                </td>
                                <td class="text-center">
                                    <select asp-for="@Model.list_waterchemresults_b[counter].ph_info" asp-items="@Model.selectReceiversList" class="wc_textfield wc_number_field" id=""></select>
                                </td>
                                <td class="text-center">
                                    <select asp-for="@Model.list_waterchemresults_b[counter].conductivity_info" asp-items="@Model.selectReceiversList" class="wc_textfield wc_number_fiel_set2" id=""></select>
                                </td>
                                <td class="text-center">
                                    <select asp-for="@Model.list_waterchemresults_b[counter].sodium_info" asp-items="@Model.selectReceiversList" class="wc_textfield wc_number_fiel_set2" id=""></select>
                                </td>
                                <td class="text-center">
                                    <select asp-for="@Model.list_waterchemresults_b[counter].flouride_info" asp-items="@Model.selectReceiversList" class="wc_textfield wc_number_fiel_set2" id=""></select>
                                </td>
                                <td class="text-center" colspan="3">
                                    <select asp-for="@Model.list_waterchemresults_b[counter].chloride_info" asp-items="@Model.selectReceiversList" class="wc_textfield wc_number_fiel_set2" id=""></select>
                                </td>
                                <td class="text-center" colspan="3">
                                    <select asp-for="@Model.list_waterchemresults_b[counter].sulfate_info" asp-items="@Model.selectReceiversList" class="wc_textfield wc_number_fiel_set2" id=""></select>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" colspan="2">
                                    @label
                                    <input asp-for="@Model.list_waterchemresults_b[counter].trans_id" type="hidden" value="@trans_id">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].description" type="hidden" value="@label">
                                </td>
                                <td class="text-center" colspan="2">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].nitrate_nitrite_info" type="text" class="wc_textfield wc_textfield_set2 @datepicker_class" value="@Model.list_waterchemresults_b[counter].nitrate_nitrite_info" autocomplete="off"/>
                                </td>

                                <td class="text-center">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].ph_info" type="text" class="wc_textfield wc_number_field @datepicker_class" autocomplete="off" />
                                </td>

                                <td class="text-center">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].conductivity_info" type="text" class="wc_textfield wc_number_fiel_set2 @datepicker_class" autocomplete="off"/>
                                </td>

                                <td class="text-center">                                    
                                    <input asp-for="@Model.list_waterchemresults_b[counter].sodium_info" type="text" class="wc_textfield wc_number_fiel_set2 @datepicker_class" autocomplete="off" />
                                </td>
                                <td class="text-center">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].flouride_info" type="text" class="wc_textfield wc_number_fiel_set2 @datepicker_class" autocomplete="off"/>
                                </td>
                                <td class="text-center" colspan="3">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].chloride_info" type="text" class="wc_textfield wc_number_fiel_set2 @datepicker_class" autocomplete="off"/>
                                </td>
                                <td class="text-center" colspan="3">
                                    <input asp-for="@Model.list_waterchemresults_b[counter].sulfate_info" type="text" class="wc_textfield wc_number_fiel_set2 @datepicker_class" autocomplete="off"/>
                                </td>
                            </tr>
                        }
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-9">Trace Metals in Water Test Results</div>
            <div class="col-sm-3"><input asp-for="@Model.water_chem_upload" type="file" class="form-control" /></div>
        </div>
    </div>
    <div class="panel-body" style="height:50rem;overflow:auto;">
        <div id="upload_details"></div>
        <div id="upload_result" style="font-size:0.95rem;">
            @if(Model.list_tracemetal_results.Count > 0)
            {
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>Sample Id</th>
                        <th>Acquisition Date</th>
                        <th>QC Status</th>
                        <th>Be 9</th>
                        <th>B 10</th>
                        <th>Al 27</th>
                        <th>Ti 47</th>
                        <th>V-1 51</th>
                        <th>V 51</th>
                        <th>Sc 45</th>
                        <th>Cr 52</th>
                        <th>Mn 55</th>
                        <th>Fe-1 57</th>
                        <th>Fe-2 57</th>
                        <th>Co 59</th>
                        <th>Ni 60</th>
                        <th>Cu 65</th>
                        <th>Zn 66</th>
                        <th>Ge 72</th>
                        <th>As 75</th>
                        <th>As-1 75</th>
                        <th>Se 82</th>
                        <th>Sr 87</th>
                        <th>Mo 98</th>
                        <th>Rh 103</th>
                        <th>Ag 107</th>
                        <th>Cd 111</th>
                        <th>In 115</th>
                        <th>Sb 121</th>
                        <th>Sn 118</th>
                        <th>Ba 137</th>
                        <th>Tb 159</th>
                        <th>Tl 205</th>
                        <th>Pb 208</th>
                        <th>Th 232</th>
                        <th>U 238</th>
                        <th>Na 23</th>
                        <th>Mg 24</th>
                        <th>K 39</th>
                        <th>Ca 44</th>
                        <th>Sc-1 45</th>
                        <th>Cl 35</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.list_tracemetal_results)
                    {
                        <tr>
                            <td>@result.description </td>
                            <td>@result.acquisition_date</td>
                            <td>@result.qc_stat</td>
                            <td> @result.Be9 </td>
                            <td> @result.B10 </td>
                            <td> @result.Al_27 </td>
                            <td> @result.Ti_47 </td>
                            <td> @result.V_1_51 </td>
                            <td> @result.V_51 </td>
                            <td> @result.Sc_45 </td>
                            <td> @result.Cr_52 </td>
                            <td> @result.Mn_55 </td>
                            <td> @result.Fe_1_57 </td>
                            <td> @result.Fe_2_57 </td>
                            <td> @result.Co_59 </td>
                            <td> @result.Ni_60 </td>
                            <td> @result.Cu_65 </td>
                            <td> @result.Zn_66 </td>
                            <td> @result.Ge_72 </td>
                            <td> @result.As_75 </td>
                            <td> @result.As_1_75 </td>
                            <td> @result.Se_82 </td>
                            <td> @result.Sr_87 </td>
                            <td> @result.Mo_98 </td>
                            <td> @result.Rh_103 </td>
                            <td> @result.Ag_107 </td>
                            <td> @result.Cd_111 </td>
                            <td> @result.In_115 </td>
                            <td> @result.Sb_121 </td>
                            <td> @result.Sn_118 </td>
                            <td> @result.Ba_137 </td>
                            <td> @result.Tb_159 </td>
                            <td> @result.Tl_205 </td>
                            <td> @result.Pb_208 </td>
                            <td> @result.Th_232 </td>
                            <td> @result.U_238 </td>
                            <td> @result.Na_23 </td>
                            <td> @result.Mg_24 </td>
                            <td> @result.K_39 </td>
                            <td> @result.Ca_44 </td>
                            <td> @result.Sc_145 </td>
                            <td> @result.CI_35 </td>
                        </tr>
                    }
                </tbody>
            </table>
            }            
        </div>
    </div>
</div>