@{
    ViewData["PageTitle"] = "Add New Water Chemical Form";
    Layout = "~/Views/Shared/_HlabWebAdminLayout.cshtml";
}

@model HorizonLabAdmin.Models.Forms.TestResultPageViewModel

<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/general_functions.js"></script>
<script src="~/js/new_water_sample_events.js"></script>

<div style="padding:20px 20px 20px 20px; background:white; border:1px solid #B6B6B6; border-radius:10px; height:800px;overflow:auto;font-size:1.3rem;">
    <form asp-action="AddWaterSample" asp-controller="WaterBacteriaPostTransactions" method="post" class="" id="water_chemical_form">
        <div class="panel panel-success">
            @{ string orderid = "", analysis = "", dateorder = "", recievedby = "", price = "", labcode = "";}
            @if (Model.orderitemview != null)
            {
                orderid = string.Format("{0:00000000}", Model.orderitemview.order_id);
                analysis = Model.orderitemview.analysis;
                dateorder = Model.orderitemview.order_date?.ToString("dd/MM/yyyy");
                recievedby = Model.orderitemview.received_by;
                price = string.Format("{0:0.00}", Model.orderitemview.amount);
                labcode = Model.orderitemview.lab_code;
            }

            <input type="hidden" asp-for="@Model.hlab_order_items.id" value="@Model.orderitemview.order_item_id">
            <input type="hidden" asp-for="@Model.hlab_order_items.test_pkg_id" value="@Model.orderitemview.pkg_id">
            <input type="hidden" asp-for="@Model.hlab_order_items.order_id" value="@Model.orderitemview.order_id">
            <input type="hidden" asp-for="@Model.hlab_order_items.amount" value="@Model.orderitemview.amount">
            <input type="hidden" asp-for="@Model.orderitemview.pkg_class_id" value="@Model.orderitemview.pkg_class_id">

            <input type="hidden" asp-for="@Model.hlab_test_transactions.test_pkg_id" value="@Model.orderitemview.pkg_id">
            <input type="hidden" asp-for="@Model.hlab_test_transactions.customer_id" value="@Model.orderitemview.customer_id">
            <input type="hidden" asp-for="@Model.hlab_test_transactions.price" value="@price">

            <div class="panel-heading">Order Information</div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <p><b>Order ID:</b> @orderid</p>
                            <p><b>Lab Code:</b> @labcode</p>
                        </div>
                        <div class="col-sm-4">
                            <p><b>Date Ordered:</b> @dateorder</p>
                            <p><b>Received By:</b> @recievedby  </p>
                            <p><b>Order Price:</b> $@price</p>
                        </div>
                        <div class="col-sm-4">
                            <p><b>Analysis:</b> @analysis</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" value="" id="customerid">
                            <p><b>Customer ID:</b> <span id="label_customerid">@ViewBag.customer.customer_id</span></p>
                            <p><b>Customer Name: </b> <span id="label_customername">@ViewBag.customer.first_name @ViewBag.customer.last_name</span></p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <b>Address</b>
                                <div class="row">
                                    <span id="label_street">@ViewBag.customer.street</span>
                                    <span id="label_city">@ViewBag.customer.city</span>
                                </div>
                                <div class="row">
                                    <span id="label_province">@ViewBag.customer.province</span>
                                    <span id="label_postalcode">@ViewBag.customer.postal_code</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-success">
                    <div class="panel-heading">Sample Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1 text-right">Description:</div>
                            <div class="col-sm-7"><input type="text" asp-for="@Model.hlab_test_transactions.notes" class="form-control"></div>

                            <div class="col-sm-2 text-right">Received in good condition:</div>
                            <div class="col-sm-2"><select asp-for="@Model.hlab_test_transactions.is_good_condition" asp-items="@Model.isGoodCondition" class="form-control" id=""></select></div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-2 text-right">Received By:</div>
                            <div class="col-sm-2"><select asp-for="@Model.hlab_test_transactions.rcv_by_id" asp-items="@Model.selectReceiversList" class="form-control" id=""></select></div>

                            <div class="col-sm-2 text-right"><b>Submitted By: </b></div>
                            <div class="col-sm-2 text-left"><input asp-for="@Model.hlab_test_transactions.submtd_by" type="text" class="form-control" value="@ViewData["UserName"]"></div>

                            <div class="col-sm-2 text-right">Temperature:</div>
                            <div class="col-sm-2"><input type="text" asp-for="@Model.hlab_test_transactions.temp" class="form-control"></div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-2 text-right">DateTime Sampled:</div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-3">DD: <input type="text" value="" id="report_day" class="create_report_date form-control day_only" autocomplete="off" tabindex="28"></div>
                                    <div class="col-sm-3">MM: <input type="text" value="" id="report_month" class="create_report_date form-control month_only" autocomplete="off" tabindex="29"></div>
                                    <div class="col-sm-3">YYYY: <input type="text" value="@DateTime.Now.Year.ToString()" id="report_year" class="create_report_date form-control number_only" autocomplete="off" tabindex="30"></div>
                                </div>
                                <br />
                                <input asp-for="@Model.hlab_test_transactions.collect_datetime" class="form-control" id="datesampled">
                            </div>

                            <div class="col-sm-2 text-right">DateTime Received:</div>
                            <div class="col-sm-4"><input asp-for="@Model.hlab_test_transactions.rcv_date" class="form-control" id="datereceived"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Invoice</div>
                    <div class="panel-body">
                        <div class="row">
                            <input asp-for="@Model.hlab_invoice_list[0].invoice_date" type="hidden" class="form-control" value="@DateTime.Now">
                            <input asp-for="@Model.hlab_invoice_list[0].paid_amount" type="hidden" class="form-control" value="@price">
                            <input asp-for="@Model.hlab_invoice_list[0].payment_date" type="hidden" class="form-control" value="@dateorder">
                            <input asp-for="@Model.hlab_invoice_list[0].paid_by" type="hidden" class="form-control" value="@ViewBag.customer.first_name @ViewBag.customer.last_name">                            
                            <div class="col-sm-12">
                                <div class="row allownace_top">
                                    <div class="col-sm-5 text-right"><b>Price: </b></div>
                                    <div class="col-sm-5 text-left">$@price</div>
                                </div>
                                <div class="row allownace_top">
                                    <div class="col-sm-5 text-right"><b>Paid: </b></div>
                                    <div class="col-sm-5"><select asp-for="@Model.hlab_test_transactions.is_paid" asp-items="@Model.isPaid" class="form-control" id=""></select></div>
                                </div>
                                <div class="row allownace_top">
                                    <div class="col-sm-5 text-right"><b>Paid By: </b></div>
                                    <div class="col-sm-5">@ViewBag.customer.first_name @ViewBag.customer.last_name</div>
                                </div>
                                <div class="row allownace_top">
                                    <div class="col-sm-5 text-right"><b>Paid Amount: </b></div>
                                    <div class="col-sm-5">$@price</div>
                                </div>
                                <div class="row allownace_top">
                                    <div class="col-sm-5 text-right"><b>Payment Type: </b></div>
                                    <div class="col-sm-5"><select asp-for="@Model.hlab_invoice_list[0].payment_type_id" asp-items="@Model.selectPaymentTypeList" class="form-control" id=""></select></div>
                                </div>
                                <div class="row allownace_top">
                                    <div class="col-sm-5 text-right"><b>Payment Option: </b></div>
                                    <div class="col-sm-5"><select asp-for="@Model.hlab_invoice_list[0].payment_option_id" asp-items="@Model.selectPaymentOptionList" class="form-control" id=""></select></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-success" onclick="window.location='/WaterBacteriaTransaction/ViewTransactions'">TRANSACTION VIEW PAGE</button>
                <button type="button" class="btn btn-success" id="save_water_chemical">SAVE</button>
            </div>
        </div>
    </form>
</div>